/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cor de fundo da página */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garantir que a página ocupe pelo menos 100% da altura da viewport */
}

header {
    background-color: rgb(0,107,100); /* Cor de fundo do cabeçalho */
    color: #fff;
    text-align: center;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Centralizar o conteúdo */
    position: relative;
}

header .logo {
    width: 100px;
    height: auto;
    position: absolute;
    top: 10px; /* Adicionar margem superior */
    left: 20px; /* Margem à esquerda para alinhar a logo */
    background-color: rgb(0,107,100); /* Cor de fundo da logo */
}

header h1 {
    margin: 0;
    text-align: center;
}

nav {
    background-color: rgb(0,107,100); /* Cor de fundo da barra de navegação */
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

nav ul li a .fas {
    font-size: 1.2em; /* Tamanho do ícone */
    vertical-align: middle; /* Alinhamento vertical */
}

footer {
    background-color: rgb(0,107,100); /* Cor de fundo do rodapé */
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed; /* Fixar o rodapé */
    bottom: 0;
    width: 100%;
}

main {
    flex: 1; /* Permitir que o main cresça para ocupar espaço disponível */
    display: flex;
    justify-content: flex-start; /* Alinhar ao topo */
    align-items: center; /* Centralizar horizontalmente */
    flex-direction: column; /* Garantir que o conteúdo seja exibido em coluna */
    margin-top: 10px; /* Ajustar margem superior */
}

form, .login-container, #home, #busca, .search-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center; /* Centralizar o texto */
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, button {
    padding: 10px;
    font-size: 1em;
}

.buttons {
    display: flex;
    justify-content: center; /* Centralizar os botões */
    gap: 10px;
}

.login-container, .search-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

#publications {
    margin-top: 20px;
}

.publication {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.publication h3 {
    margin-top: 0;
}

.publication a {
    display: inline-block;
    margin-top: 10px;
    color: rgb(0,107,100);
    text-decoration: none;
}

.publication a:hover {
    text-decoration: underline;
}
